<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Allez plus loin!</h1>
  </ion-header-bar>
  <ion-content class="padding content-stable">

    <h2 align="center" style="font-size:20px;color:{{classAnswerModal}};">Bonne réponse !</h2> <!-- // TODO -->

    <div class="list card">
      <div class="item item-body item-text-wrap dark">
        <h2>Pour découvrir plus à propos de ce sujet, échangez avec <b>{{nameConsultant}}</b></h2>
		<img align="center" class="full-image" src="img/{{imgConsultant}}.jpg">
      </div>
    </div>

</div>

    <button class="button button-block button-dark" ng-click="nextQuestion()">
      Question suivante
    </button>

  </ion-content>
</ion-modal-view>
