<ion-view title="A propos !">

  <ion-content class="padding content-stable">
  
  <div class="list card">

      <div class="item item-avatar">
        <img src="../img/ipad.png">
        <h2>Solucom&Share</h2>
        <p>Jeudi 16 Avril 2015</p>
      </div>

	  <div class="item item-body">
          Merci d'avoir participé à Solucom&Share !
      </div>
      <img src="../img/mobility.jpg" style="height: auto; width: 100%">
	  <span>Cette application a été développée pour Solucom&Share.</span>
    </div>

     </ion-content>
</ion-view>
