<ion-view>
  <ion-content class="padding content-stable">

    <h4 align="center" class="text-dark">
      Combien de tablettes ont été achetées en France en 2013 ?
    </h4>

    <ul class="list card">

      <a href="#" align="center" class="item">
        500 000
      </a>

      <a href="#" align="center" class="item">
        2 millions
      </a>

      <a href="#" align="center" class="item">
        6 millions
      </a>

      <a href="#" align="center" class="item">
        Au moins une
      </a>

    </ul>

  </ion-content>
</ion-view>
